[Unit]
Description=Reqstat Service
After=network.target

[Service]
Type=simple
User=reqstat
Group=reqstat
ExecStart=/usr/bin/reqstatd --config=/etc/reqstat/reqstat.yml
Restart=always

[Install]
WantedBy=multi-user.target
